<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Bohdan Imiela">
  <meta name="descritption" content="Browse and add your favourite record stores">
  <meta name="keywords" content="record stores, vinyl">
  <link rel="stylesheet" href="/css/landing.css">
  <title>Vinyl Store</title>
</head>
<body>
  <h1>landing page</h1>
</body>
</html>